<!DOCTYPE html>
<html>
<head><style>
	body {background-color: #A4BBFF;}
	header {
		width: 100%;
		border: none;
		padding: 10px;
		text-align: center;
		background-color: #7B9CFF;
	}</style>
	<title>Skmer on Web</title>
</head>
	<body>
		<header><h1><a href="{% url 'home' %}"> Skim Your Genome</a></h1>
		<center><p class="github"><a href="https://github.com/shahab-sarmashghi/Skmer">Skmer GitHub</a></p></center></header>
<main>
{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
</main>
</body>
</body>
</html>